body {
    font-family: 'Noto Sans JP', sans-serif;
}
.wrapper {
    padding: 50px 100px;
}

.introduction-section {
    display: flex;
    align-items: start;
    justify-content: center;
}
.introduction-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h1, h2, .project-number {
    font-family: 'Oswald', sans-serif; 
    text-transform: uppercase;
    line-height: 1.1;
}
.text-body {
    font-size: 0.9rem;
    color: #4a4a4a;
    text-align: justify;
}


.content-section {
    margin-bottom: 200px;
    padding: 0 20px;
}
.section-heading {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.two-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.project-header {
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
    border-bottom: 2px solid #d3d3d3;
}
.project-number {
    font-size: 38px;
    margin-right: 15px;
}
.project-title {
    font-size: 1.5rem;
}

.skillset-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    gap: 15px;
}
.skills {
    width: 150px;
    padding: 25px 30px;
    background-color: #f3f3f3;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
}

.learning-journey {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}
.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%/3);
    margin-bottom: 60px;
    padding: 0 40px;
    box-sizing: border-box;
}
.works-img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border: #d3d3d3 solid 1px;
}

.footer-section {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .hero-graphic {
        display: none; /* スマホでは装飾を消す */
    }

    .two-column {
        flex-direction: column;
        gap: 20px;
    }
}